body{
    background-color: #660066;
    color: white;
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 20px;
}
img{
    width: 100%;
}
h1{
    text-align: center;
    font-size: 60px;
}
p,ul,li{
    font-size: 16px;
    line-height: 1.5;
}
a {
    margin-top: 30px;
    font-size: 20px;
    color: lightblue;
}
